<% if user_signed_in? && current_user.id == @combo.user_id %>  
  <div class="more">
    <ul class="more_list">
      <li>
        <%= link_to '編集', edit_combo_path(@combo.id) %>
        <%= link_to '削除', combo_path(@combo.id), method: :delete %>
      </li>
    </ul>
  </div>
<% end %>
<ul class='combo-lists'>
  <li class='list'>
    <%= link_to edit_combo_path(@combo.id) do %>
      <h3 class=combo-start-percent>
        <%= @combo.start_percent %>
        <%= @combo.combo_route %>
        <%= @combo.memo %>
        <%= @combo.fighter.name %>
      </h3>
    <% end %>
  </li>
</ul>

<div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@combo, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
      </strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  </div>

